<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>CRUD App</title>
    </head>

    <style>
        html {
            background-color: black;
            color: white;
        }

        text {
            font-size: 24px;
            color: aqua;
        }
        body {
            text-align: center;
        }
        .center-list {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>

    <body>
        <center>
            <h1>
                CRUD Application
            </h1>
        </center>

        <center>
            <text>
                Enter Name to be delete item
            </text>
        </center>

        <br>

        <div class="center-list">
            <ul>
                {% for name, info in retrieve_dictionary.items() %}
                    <li>
                        <strong>{{ name }}</strong>
                        <ul>
                            {% for key, value in info.items() %}
                                <li>{{ key.capitalize() }}: {{value }}</li>
                                {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <form action="/delete_element" method="post">
            <label for="entry1">Enter animal name to delete:</label>
            <input type="text" name="entry1" id="entry1" required>
            <button type="submit">Delete</button>
        </form>

                
                <br>
                <br>

            <center> <button onclick="window.location.replace('/')">Return to Home Page</button> </center>

    </body>
</html>