<form action="{{url_for('success')}}", method="post">
            <center> 
                <label for="entry1">Enter Key:</label>
                <input type="text" name="entry1"> 
                
                <br>
                <br>

                <label for="entry2">Enter Value:</label>
                <input type="text" name="entry2"> 
                
                <br>
                <br>

                <input type="submit" value="Submit">

            </center>
            <br>
            <br>
</form>