<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>CRUD App</title>
    </head>

    <style>
        html {
            color: white;
            background-color: black;
        }

        text {
            font-size: 24px;
        }
    </style>

    <body>
        <center> <h1> CRUD Application </h1></center>
        <center> <text> Enter Object Data Below </text> </center>
        <br>

        <form action="/put_elements" method="POST" enctype="multipart/form-data">
            <label>Animal Name:</label>
            <input type="text" name="entry1" placeholder="Name of animal to update"><br>

            <label>New Breed:</label>
            <input type="text" name="breed"><br>

            <label>New Age:</label>
            <input type="text" name="age"><br>

            <label>New Pedigree:</label>
            <input type="text" name="pedigree"><br>

            <label>New Description:</label>
            <input type="text" name="description"><br>

            <label>New Image (optional):</label>
            <input type="file" name="image"><br>

            <input type="submit" value="Update">
        </form>


        <center> <button onclick="window.location.replace('/')">Return to Home Page</button> </center>
    </body>
</html>