<!DOCTYPE html>

<html>

    <head>
        <meta charset="utf-8">
        <title>CRUD App</title>
    </head>

    <style>
        html {
            background-color: black;
            color: white;
        }

        text {
            font-size: 40px;
            word-wrap: break-word;
            width: 50px;

        }
        body {
            text-align: center;
        }
        input, textarea {
            margin: 8px;
            font-size: px;
        }
        p{
            color: aqua;
        }

    </style>

    <body>
        <h1> CRUD Application </h1>
        <text> Update item </text> 

        <br>

        <p>To target the item that needs to be updated enter the animal name in the "Name" field.</p>

        <br>
        

            <form action="/put_elements" method="POST" enctype="multipart/form-data">

                 

                <label>Name:</label>
                <textarea type="text" rows="2" cols="20" name="entry1" wrap="hard" placeholder="Enter Name here."></textarea>
                <br>

                <label>Update Breed:</label>
                <textarea type="text" rows="2" cols="20" name="breed" wrap="hard" placeholder="Enter breed here."></textarea><br>

                <label>Update Age:</label>
                <textarea type="text" rows="2" cols="20" name="age" wrap="hard" placeholder="Enter age here."></textarea><br>

                <label>Update Pedigree:</label>
                <textarea type="text" rows="2" cols="20" name="pedigree" wrap="hard" placeholder="Enter pedigree here."></textarea><br>

                <label>Update Description:</label>
                <textarea type="text" rows="2" cols="20" name="description" wrap="hard" placeholder="Enter description here."></textarea><br>
                
                <br>

                <label>Image:</label>
                <input type="file" name="image"><br>

                <br>

                <input type="submit" value="Update">
            </form>
        <br>
      


        <center> <button onclick="window.location.replace('/')">Return to Home Page</button> </center>
    </body>
</html>